.table-row-cell:filled:selected { 
    -fx-background: -fx-control-inner-background ;
    -fx-background-color: -fx-table-cell-border-color, -fx-background ;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-table-cell-border-color: derive(-fx-color, 5%);
  }
.table-row-cell:odd:filled:selected {
    -fx-background: -fx-control-inner-background-alt ;
  }